*.pyc
*.pyx
*.bak
*.cache
*.dir
*.so
*.pyd
*.sqlite3
*.ini
*.json
*.dat
*.dat.*
*.log
*.c
.Windows.cache
.Linux.cache
db.sqlite3-journal
migrations/
__pycache__/
build/
/.idea/
/.git/
/venv/
/media/uploads/
/deprecated/huaci/error.log
/deprecated/huaci/debug.log
/init_manga_path.py
/log/
/manga/
/media/mynav/
/media/icon/
/blob_storage/
/webrtc_event_logs/
/export/
/base/extract_zip.py
/base/update_zip.py
/deprecated/huaci/blob_storage/
/deprecated/huaci/webrtc_event_logs/
/deprecated/huaci/huaci.cache/
/collect_static/
manga.md
auto_tool.bat
auto_tool.py
db.sql
export.sqlite3
/mdict/readlib/src/readmdict-py3/
!/static/json/manifest.json
!/static/json/index_en.json
!/static/json/index_zh_hans.json
!/media/char/characters.json