*.pyc
*.bak
*.cache
*.dir
*.so
*.pyd
*.sqlite3
*.ini
*.json
*.dat
*.log
*.c
.Windows.cache
.Linux.cache
migrations/
__pycache__/
build/
/.idea/
/.git/
/venv/
/media/uploads/
/huaci/error.log
/huaci/debug.log
/init_manga_path.py
/log/
/manga/
/mynav/
/static/img/
/static/css/
/templates/
/media/mynav/
/blob_storage/
/export/
/base/extract_zip.py
/base/update_zip.py
manga.md
auto_tool.bat
auto_tool.py