<ul id="bottom-button-group" style="list-style:none;padding:0px;">
    <li class="nav-item">
        <span class='float-a history text-center' data-bs-toggle="modal" data-bs-target="#mynav-modal-addsite">
            <i class="bi bi-plus mdict-icon"></i>
            <span>添加<br/>网站</span>
        </span>
    </li>
    <li class="nav-item">
        <span class='float-a history text-center' data-bs-toggle="modal" data-bs-target="#mynav-modal-addgroup">
            <i class="bi bi-collection mdict-icon"></i>
            <span>添加<br/>分组</span>
        </span>
    </li>
    <li class="nav-item">
        <span class='float-a history text-center' id="collapse-all">
            <i class="bi bi-arrows-angle-contract mdict-icon"></i>
            <span>折叠<br/>全部</span>
        </span>
    </li>
    <li class="nav-item">
        <span class='float-a history text-center' id="expand-all">
            <i class="bi bi-arrows-angle-expand mdict-icon"></i>
            <span>展开<br/>全部</span>
        </span>
    </li>
    <li class="nav-item">
        <span class='float-a go-top text-center'>
            <i class="bi bi-chevron-bar-up mdict-icon"></i>
            <span>返回<br/>顶部</span>
        </span>
    </li>
</ul>