{% load i18n %}
<div aria-hidden="true" class="modal fade" id="mynav-modal-addgroup" role="dialog">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="mynav-modal-addgroup-title">
                    {% trans "Create Group" %}
                </h5>
                <button class="btn-close" data-bs-dismiss="modal" type="button" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <!--autocomplete='off'使得input中的输入在刷新页面后不保存。-->
                <div class="input-group">
                    <span class="btn">{% trans "Name" %}</span>
                    <input autocomplete="off" id="group-name" class="form-control" type="text">
                </div>
                <div class="input-group">
                    <span class="btn">{% trans "Priority" %}</span>
                    <input autocomplete="off" id="group-priority" class="form-control" type="text" oninput="value=value.replace(/[^\d]/g,'')" value="1">
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-bs-dismiss="modal" type="button" onclick="addgroup();">
                    {% trans "Create" %}
                </button>
            </div>
        </div>
    </div>
</div>