<ul id="bottom-button-group" style="list-style:none;padding:0px;">
    <li class="nav-item" id="history-btn">
        <span class='float-a history text-center' data-bs-toggle="modal" data-bs-target="#builtin-container-entry" id="modal-entry">
            <i class="bi bi-calendar2-minus mdict-icon"></i>
            <span>显示<br/>词条</span>
        </span>
    </li>
    <li class="nav-item" id="home">
        <span class='float-a history text-center'>
            <i class="bi bi-house-door mdict-icon"></i>
            <span>返回<br/>主页</span>
        </span>
    </li>
</ul>