{% extends "mdict/mdict-base.html" %}

{% block content %}
{% include "mdict/mdict-navbar.html" %}
<div id="scroll_list" style="height:250px;overflow:auto;">
    <ul id="display_list"></ul>
</div>
<div id="alert-box"></div>
<div id="temp-data"></div>
<div id="card-container">
</div>

{% endblock %}

{% block modal %}
{% include "mdict/modal-container-brief.html" %}
{% endblock %}

{% block script %}
<script>
        $("html").attr("data-dic-pk",{{ dic_pk }});
        $("html").attr("data-dic-name","{{ name }}");
        $("html").attr("data-first-query","{{ query }}");

</script>
<script src="/static/mdict/js/init_dic.js"></script>
{% endblock %}