{% extends "mdict/mdict-base.html" %}

{% block content %}
<nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="form-inline" style="width:100%">
        {% include "mdict/mdict-searchbar.html" %}

        <div id="sound-speaker" style="margin-left:28px;">
            <img src="/static/mdict/img/sound_off.png"/>
            <audio style="display:none;"></audio>
        </div>
        <div class="ml-auto">
            <a class="btn" data-toggle="modal" href="#modal-container-brief" id="modal-brief" role="button">
                {{ name }}</a>
        </div>
        <div class="ml-auto top-menu">
            <a href="/mdict/bujian" target="_blank" style="color:white;"><img class="menu-icon" id="modal-bujian"
                                                                              src="/static/mdict/img/bujian.png"></a>
            <img class="menu-icon" data-toggle="modal" href="#modal-container-mdict" id="modal-mdict"
                 src="/static/mdict/img/default.png">
            <img class="menu-icon" data-toggle="modal" href="#modal-container-config" id="modal-config"
                 src="/static/mdict/img/gear.png">
        </div>
    </div>
</nav>
<div id="scroll_list" style="height:250px;overflow:auto;">
    <ul id="display_list"></ul>
</div>
<div id="alert-box"></div>
<div id="temp-data"></div>
<div id="card-container">
    <div class="card">
        <div class="card-header">
            <a class="card-link" data-parent="#card-container" data-toggle="collapse"
               href="#card-element-488454"> </a>
        </div>
        <div class="collapse show" id="card-element-488454">
            <div class="card-body">
                查询结果显示
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block modal %}
{% include "mdict/modal-container-brief.html" %}
{% endblock %}

{% block script %}
<script>
        $("html").attr("data-dic-pk",{{ dic_pk }});
        $("html").attr("data-dic-name","{{ name }}");
        $("html").attr("data-first-query","{{ query }}");

</script>
<script src="/static/mdict/js/init_dic.js"></script>
{% endblock %}