{% extends "mdict/mdict-base.html" %}

{% block content %}
{% include "mdict/mdict-navbar.html" %}

<div id="card-container">
</div>

{% endblock %}

{% block modal %}
{% include "mdict/modal-container-brief.html" %}
{% endblock %}

{% block script %}
<script>
    $("html").attr("data-dic-pk",{{ dic_pk }});
    $("html").attr("data-dic-name","{{ name }}");
    $("html").attr("data-first-query","{{ query }}");
    $("html").attr("data-type","{{ type }}");
    //$("#result_num").hide();
    //$("#result_time").hide();
    $("#sound-speaker").hide();
    $("#mdict-group-list").hide();
    document.title = "全文搜索";
	$("link[rel='shortcut icon']").attr('href', '/static/mdict/img/shortcut_es.png');
    init_es_dic();
</script>
{% endblock %}