{% extends "mdict/mdict-base.html" %}

{% block content %}
<nav class="navbar navbar-expand-md navbar-light bg-light">
    <!--collapse navbar-collapse默认折叠，collapse navbar-collapse show默认展开。-->

    <div class="form-inline" style="width:100%">
        <!--form自动提交后刷新页面，因此onsubmit要返回false，阻止提交，在浏览器扩展中不能用onsubmit，导致不断刷新，或者有时候js错误，导致点击查询后，页面刷新，后面考虑去掉form，换成div。-->
        {% include "mdict/mdict-searchbar.html" %}

        <div>
            <div id="result_num"></div>
            <div id="result_time"></div>
        </div>
        <div id="sound-speaker">
            <img src="/static/mdict/img/sound_off.png"/>
            <audio style="display:none;"></audio>
        </div>



        <div class="ml-auto top-menu">
            <a href="/mdict/bujian" target="_blank" style="color:white;"><img class="menu-icon" id="modal-bujian"
                                                                              src="/static/mdict/img/bujian.png"></a>
            <img class="menu-icon" data-bs-toggle="modal" data-bs-target="#modal-container-mdict" id="modal-mdict"
                 src="/static/mdict/img/default.png">
            <img class="menu-icon" data-bs-toggle="modal" data-bs-target="#modal-container-config" id="modal-config"
                 src="/static/mdict/img/gear.png">
        </div>
        <!--当input获得焦点，按回车会提交表单并刷新页面，点击button也会提交表单并刷新页面。如果不想刷新页面，方法一是将button的type从submit改成button，这只对点击按钮有效，方法二是form添加onsubmit="return false;，这对点击和回车都有效。-->
    </div>

</nav>
<div id="card-container"></div>

{% endblock %}

{% block script %}
<script>
        //外部js文件无法使用django模板
        $("html").attr("data-dic-pk",-2);
        $("html").attr("data-first-query","{{ query }}");

</script>
<script src="/static/mdict/js/init_es_index.js"></script>
{% endblock %}