<!DOCTYPE html>
{% load i18n %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>{% trans "Documentation" %}</title>
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/bootstrap/font/bootstrap-icons.css" rel="stylesheet">
    <style>
        #btn-index{position:fixed;right:65px;top:20px;color:black;font-size:36px;}
    </style>
</head>
<body>
<div class="container-fluid">
    <div id="content"></div>
</div>
<i class="bi bi-house-door btn mdict-icon" id="btn-index"></i>
</body>
<script src="/static/jquery/jquery.min.js"></script>
<script src="/static/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/static/mdict/marked/marked.min.js"></script>
<script>
function get_md(doc_path){
    $.ajax({
        url:"/mdict/doc/"+doc_path,
        contentType:'json',
        type:'GET',
        success:function(data){
            document.getElementById('content').innerHTML=marked(data);
            $("a").click(ihyperlink);
            $('html,body').animate({scrollTop:0},'fast');
        },
        error:function(jqXHR,textStatus,errorThrown){
            alert(jqXHR.responseText);
        },
    });
}
function push_state(doc_path){
    window.history.pushState({'path':doc_path},doc_path,doc_path);
}
function ihyperlink(e){
    var doc_path=$(this).attr("href")||null;
    if(doc_path[0]!="#"&&doc_path.indexOf('http')!=0&&doc_path.substring(doc_path.length-4)!='.com'){
        e.preventDefault();
        get_md(doc_path);
        push_state(doc_path);
    }
}
get_md("readme.md");
push_state("readme.md");
$(window).bind('popstate', function(e){
    var state=window.history.state;
    if(state){
        var dpath=state['path'];
        if(dpath!=""){get_md(dpath);}
    }
});
$("#btn-index").click(function(){
    window.location.href="/";
});
</script>
</html>