{% extends "mdict/mdict-base.html" %}

{% block content %}
{% include "mdict/mdict-navbar.html" %}
<div id="scroll_list" style="height:250px;overflow:auto;">
    <ul id="display_list"></ul>
</div>
<input id="dic-range" type="range" class="form-range" min="0" step="0.5">
<div id="alert-box"></div>
<div id="temp-data"></div>
<div id="card-container">
</div>

{% endblock %}

{% block modal %}
{% include "mdict/mdict-modal-brief.html" %}
{% endblock %}

{% block script %}
<script>
    $("html").attr("data-dic-pk",{{ dic_pk }});
    $("html").attr("data-dic-name","{{ name }}");
    $("html").attr("data-first-query","{{ query }}");
    $("html").attr("data-type","{{ type }}");
    $("html").attr("data-is-simple",0);
    $("#result_num").hide();
    $("#result_time").hide();
    $("#sound-speaker").hide();
</script>
<script src="/static/mdict/js/init_dic.js"></script>
{% endblock %}