<nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="container-fluid">
        <!--form自动提交后刷新页面，因此onsubmit要返回false，阻止提交，在浏览器扩展中不能用onsubmit，导致不断刷新，或者有时候js错误，导致点击查询后，页面刷新，后面考虑去掉form，换成div。-->
        <div class="d-flex">
            <div class="input-group">
                <input autocomplete="off" class="btn btn-outline-secondary" id="query" type="text">
                <i id="mdict-query-clear" class="bi bi-x input-group-text mdict-icon"></i>
                <i id="mdict-query" class="bi bi-search btn mdict-icon"></i>
            </div>
        </div>

        <div class="d-flex float-end">
            {% if type == 'es' %}
                <i class="bi bi-caret-down btn mdict-icon" id="es-filter"
                   href='#es-filter-div' data-bs-toggle='collapse' aria-expanded="false" aria-controls="#es-filter-div"></i>
            {% endif %}
            {% if type == 'index' or type == 'es' %}
                <div id="sound-speaker" class="nav-item btn">
                    <i class="bi bi-volume-mute-fill mdict-icon"></i>
                </div>
                <div class="btn">
                    <div id="result_num" style="font-size:12px;color:gray;"></div>
                    <div id="result_time" style="font-size:12px;color:gray;"></div>
                </div>
            {% endif %}
            {% if type == 'dic' %}
            <div class="input-group float-end">
                <a class="btn" data-bs-toggle="modal" data-bs-target="#modal-container-brief" id="modal-brief">
                {{ name }}</a>
            </div>
            {% endif %}
        </div>
        <div class="d-flex float-end">
            <div class="input-group">
                {% if type == 'index' or type == 'dic' %}
                    <span class="btn mdict-icon" id="btn-es">全</span>
                {% endif %}
                <span class="btn mdict-icon" id="btn-bujian">部</span>
                <i class="bi bi-journal-bookmark-fill btn mdict-icon" id="modal-mdict" data-bs-toggle="modal" data-bs-target="#modal-container-mdict"></i>
                <i class="bi bi-gear-fill btn mdict-icon" id="modal-config" data-bs-toggle="modal" data-bs-target="#modal-container-config"></i>
                {% if type == 'es' or type == 'dic' %}
                    <i class="bi bi-house-door-fill btn mdict-icon" id="btn-home"></i>
                {% endif %}
            </div>
        </div>
    </div>
        <!--当input获得焦点，按回车会提交表单并刷新页面，点击button也会提交表单并刷新页面。如果不想刷新页面，方法一是将button的type从submit改成button，这只对点击按钮有效，方法二是form添加onsubmit="return false;，这对点击和回车都有效。-->
</nav>
{% if type == 'es' %}
    <div class='collapse show' id='es-filter-div'>
        <div class='card-body'>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="es-filter-entry" checked>
                <label class="form-check-label" for="es-filter-entry">查询词头</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="es-filter-content" checked>
                <label class="form-check-label" for="es-filter-content">查询内容</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="es-filter-and">
                <label class="form-check-label" for="es-filter-and">按照AND查询</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="es-filter-phrase">
                <label class="form-check-label" for="es-filter-phrase">按照词组查询</label>
            </div>
        </div>
    </div>
{% endif %}