<ul id="bottom-button-group" style="list-style:none;padding:0px;">
    <li class="nav-item">
        <a class='float-a history' data-toggle="modal" href="#modal-container-history" id="modal-history">
            <img alt='' src="/static/mdict/img/history.png">
            <span>历史<br/>记录</span>
        </a>
    </li>
    <!--    <li class="nav-item">-->
    <!--        <a class='float-a go-prev' href='javascript:;'>-->
    <!--            <img alt='' src="/static/mdict/img/prev.png">-->
    <!--            <span>前一<br/>词条</span>-->
    <!--        </a>-->
    <!--    </li>-->
    <!--    <li class="nav-item">-->
    <!--        <a class='float-a go-after' href='javascript:;'>-->
    <!--            <img alt='' src="/static/mdict/img/after.png">-->
    <!--            <span>后一<br/>词条</span>-->
    <!--        </a>-->
    <!--    </li>-->
    <li class="nav-item">
        <a class='float-a go-left' href='javascript:;'>
            <img alt='' src="/static/mdict/img/left.png">
            <span>上一<br/>词条</span>
        </a>
    </li>
    <li class="nav-item">
        <a class='float-a go-right' href='javascript:;'>
            <img alt='' src="/static/mdict/img/right.png">
            <span>下一<br/>词条</span>
        </a>
    </li>
    <li class="nav-item">
        <a class='float-a scaleup' href='javascript:;'>
            <img alt='' src="/static/mdict/img/scaleup.png">
            <span>放大<br/>字体</span>
        </a>
    </li>
    <li class="nav-item">
        <a class='float-a scaledown' href='javascript:;'>
            <img alt='' src="/static/mdict/img/scaledown.png">
            <span>缩小<br/>字体</span>
        </a>
    </li>
    <li class="nav-item">
        <a class='float-a go-top' href='javascript:;'>
            <img alt='' src="/static/mdict/img/top.png">
            <span>返回<br/>顶部</span>
        </a>
    </li>
</ul>