<ul id="bottom-button-group" style="list-style:none;padding:0px;">
    <li class="nav-item" id="history-btn">
        <span class='float-a history text-center' data-bs-toggle="modal" data-bs-target="#mdict-modal-history" id="modal-history">
            <i class="bi bi-layers-half mdict-icon"></i>
            <span>历史<br/>记录</span>
        </span>
    </li>
    <li class="nav-item">
        <span class='float-a go-left text-center'>
            <i class="bi bi-caret-up-fill mdict-icon"></i>
            <span>上一<br/>词条</span>
        </span>
    </li>
    <li class="nav-item">
        <span class='float-a go-right text-center'>
            <i class="bi bi-caret-down-fill mdict-icon"></i>
            <span>下一<br/>词条</span>
        </span>
    </li>
    <li class="nav-item">
        <span class='float-a scaleup text-center'>
            <i class="bi bi-zoom-in mdict-icon"></i>
            <span>放大<br/>字号</span>
        </span>
    </li>
    <li class="nav-item">
        <span class='float-a scaledown text-center'>
            <i class="bi bi-zoom-out mdict-icon"></i>
            <span>缩小<br/>字号</span>
        </span>
    </li>
    <li class="nav-item" style="display:none;">
        <span class='float-a export-anki text-center' data-bs-toggle="modal" data-bs-target="#mdict-modal-anki" id="modal-anki">
            <i class="bi bi-clipboard-plus mdict-icon"></i>
            <span>添加<br/>卡片</span>
        </span>
    </li>
    <li class="nav-item">
        <span class='float-a go-top text-center'>
            <i class="bi bi-chevron-bar-up mdict-icon"></i>
            <span>返回<br/>顶部</span>
        </span>
    </li>
</ul>