<div aria-hidden="true" aria-labelledby="myModalLabel" class="modal fade" id="modal-container-mdict"
     role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">

                <input autocomplete="off" id="mdict-filter-input" class="form-control mr-sm-2 col-sm-5" type="text">
<!--                <button class="btn btn-secondary" type="button">-->
<!--                    <a href="/mdict/bujian" target="_blank" style="color:white;">部件检索</a>-->
<!--                </button>-->
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <h5 class="modal-title" id="myModalMdict" style="margin-bottom:10px;">
                    数量:<span id="dic_num"></span>
                </h5>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal" type="button">
                    关闭
                </button>
            </div>
        </div>

    </div>

</div>