<div aria-hidden="true" aria-labelledby="myModalLabel" class="modal fade" id="modal-container-mdict"
     role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">

                <input autocomplete="off" id="mdict-filter-input" class="form-control mr-sm-2 col-sm-5" type="text">
                <button class="btn-close" data-bs-dismiss="modal" type="button" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <button class="btn btn-primary" type="button" id="open-close-index" style="display:none;">
                    启停索引
                </button>
                <h5 class="modal-title" id="myModalMdict" style="margin-bottom:10px;">
                    数量:<span id="dic_num"></span>
                </h5>
                <div id='enable-all-dic' class="custom-control custom-checkbox" style="display:inline;">
                    <input type="checkbox" class="custom-control-input" id="enableAllCheck" onchange="set_all_mdict_enable(this)">
                    <label class="custom-control-label mdict-list-mark" for="enableAllCheck" style="margin:0px 0px 10px 5px"><b>启用/停用全部词典</b></label>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">
                    关闭
                </button>
            </div>
        </div>

    </div>

</div>