<div aria-hidden="true" aria-labelledby="myModalLabel" class="modal fade" id="modal-container-config"
     role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalConfig">
                    设置
                </h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                {% include "mdict/mdict-group.html" %}

                <div id="function-checkbox"></div>
                <hr>
                <img class="menu-icon" id="t-to-s" src="/static/mdict/img/jian.png" title="文字转简体">
                <img class="menu-icon" id="s-to-t" src="/static/mdict/img/fan.png" title="文字转繁体">
                <img class="menu-icon" id="night-mode" src="/static/mdict/img/night.png" title="夜间模式">
                <img class="menu-icon" id="day-mode" src="/static/mdict/img/day.png" title="日间模式">
<!--                <button class="btn btn-light" type="button" id="t-to-s">-->
<!--                    当前内容转化为简体-->
<!--                </button>-->
<!--                <button class="btn btn-light" type="button" id="s-to-t">-->
<!--                    当前内容转化为繁体-->
<!--                </button>-->
                <hr>
                <div id="online-mdict-checkbox"></div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="button" id="save_as_default">
                    保存为默认值
                </button>
                <button class="btn btn-secondary" data-dismiss="modal" type="button">
                    关闭
                </button>
            </div>
        </div>

    </div>

</div>