<div aria-hidden="true" class="modal fade" id="modal-shelf-dic"
     role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-shelf-dic-title">
                    词典简介
                </h5>
                <div class="input-group">
                    <button type="button" class="btn btn-light" onclick="shelf_dic_btn(0)">正查</button>
                    <button type="button" class="btn btn-light" onclick="shelf_dic_btn(1)">全文查询</button>
                    <button type="button" class="btn btn-light" onclick="shelf_dic_btn(2)">编辑</button>
                </div>
                <button class="btn-close" data-bs-dismiss="modal" type="button" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">
                    关闭
                </button>
            </div>
        </div>
    </div>
</div>