<div class="input-group w-auto" style="position:fixed;top:1rem;left:1rem;z-index:99;">
    <button type="button" class="btn btn-primary"><i class="bi bi-house-door" onclick="window.location.href='/';"></i></button>
    <input autocomplete="off" id="mdict-filter-input" class="form-control" type="text">
    <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        分组
    </button>
    <ul class="dropdown-menu" id="dic-group">
        <li onclick="start_dic_filter(0)"><span class="dropdown-item" data-pk=0>全部分组</span></li>
    </ul>
    <button type="button" class="btn btn-primary" id="dic-num"></button>
</div>