{% extends "mdict/shelf-base.html" %}

{% block head %}
<style>
    a{text-decoration:none;color:black;}
    .row{height:12rem;}
    .col{height:12rem;}
    .card{height:10rem;cursor:pointer;}
    .card-body{color:gray;padding:0.5rem;}
    .card-body h5{color:black;}
    .card-body i{color:orange;}
    .container{margin-top:2rem;}
    .container img{height:6rem;}
    .card-title{
    font-size:0.8rem;
    max-height:2.5rem;
    overflow:hidden;
    }
    .shadow:hover{
    box-shadow: 0 .5rem 1rem rgba(240,240,240,.15)!important;
    }
</style>
{% endblock %}

{% block body %}
    {% include "mdict/shelf-filter.html" %}
    {% include "mdict/shelf-modal-brief.html" %}
{% endblock %}

{% block script %}
    get_items($('.container .row'),1);
{% endblock %}