{% load i18n %}
<div aria-hidden="true" class="modal fade modal-sm" id="modal-wordcloud-config"
     role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="mdict-modal-brief-title">
                    {% trans "Settings" %}
                </h5>
                <button class="btn-close" data-bs-dismiss="modal" type="button" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <div class="input-group mb-3">
                    <label class="wordcloud">{% trans "Start Time" %}</label>
                    <input id="start-time" type="date">
                </div>
                <div class="input-group mb-3">
                    <label class="wordcloud">{% trans "End Time" %}</label>
                    <input id="end-time" type="date">
                </div>
                <div class="input-group mb-3">
                    <label class="wordcloud">{% trans "Word Number" %}</label>
                    <input autocomplete="off" id="wordcloud-length" class="form-control" type="text" value="2000"
                                oninput="value=value.replace(/[^\d]/g,'')">
                </div>
                <div class="input-group mb-3">
                    <label class="wordcloud">{% trans "Scale Ratio" %}</label>
                    <input autocomplete="off" id="weight-factor" class="form-control" type="text" value="1"
                                oninput="value=value.replace(/[^\d\.]/g,'')">
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-dismiss="modal" type="button" id="wordcloud-save-img">
                    {% trans "Save Image" %}
                </button>
                <button class="btn btn-secondary" data-bs-dismiss="modal" type="button" id="wordcloud-setting">
                    {% trans "Apply" %}
                </button>
            </div>
        </div>

    </div>

</div>