<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='/static/mdict/img/shortcut.png' rel='shortcut icon' type='image/x-icon'/>
    <link rel="apple-touch-icon" sizes="512x512" href="/static/mdict/img/book512_square.png">
    <link rel="manifest" href="/static/json/manifest.json">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link href="/static/bootstrap/font/bootstrap-icons.css" rel="stylesheet">
    <script src="/static/jquery/jquery.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <style>
        body{
            background-image:url('/static/img/background.jpg');
            background-repeat:no-repeat;
            background-attachment:fixed;
            background-size:cover;
        }
        a{text-decoration:none;color:black;margin:0.1rem;}
        .card{background-color:rgba(256,256,256,0.65);}
        .card-title{color:black;}
        .card-text{color:Gray;}
        .container{margin-top:2rem;}
    </style>
</head>
<body class="bg-light">
<div class="container">
    <div class="row">
    </div>
</div>
<script>
    if ('serviceWorker' in navigator) {
      // register service worker
      navigator.serviceWorker.register("/sw.js");
    }
    $(document).ready(function(){
        $.ajax({
            url:"/get_index_sites/",
            contentType:'json',
            type:'GET',
            success:function(data){
                var site_list=$.parseJSON(data);
                var site_eles='';
                for(let i=0;i<site_list.length;i++){
                    let title=site_list[i]["title"];
                    let href=site_list[i]["href"];
                    let brief=site_list[i]["brief"];
                    let site_ele=`
                        <div class="col-sm-6 col-lg-4 mb-4">
                            <a class="card text-center" href="${href}" target="_self">
                                <div class="card-body">
                                    <h5 class="card-title">${title}</h5>
                                    <p class="card-text">${brief}</p>
                                </div>
                            </a>
                        </div>`;
                    site_eles+=site_ele;
                }
                $(".container .row").append(site_eles);
            },
            error:function(jqXHR,textStatus,errorThrown){
                alert(jqXHR.responseText);
            },
        });
    });
</script>
</body>
</html>