<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='/static/mdict/img/shortcut.png' rel='shortcut icon' type='image/x-icon'/>
    <link rel="manifest" href="/static/json/manifest.json">
	<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link href="/static/bootstrap/font/bootstrap-icons.css" rel="stylesheet">
    <script src="/static/jquery/jquery.min.js"></script>
	<script src="/static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <style>
        a{text-decoration:none;color:black;}
        .row{height:10rem;}
        .col{height:10rem;}
        .card{height:8rem;}
        .card-body{color:gray;}
        .card-body h5{color:black;}
        .card-body i{color:orange;}
        .container{margin-top:2rem;}
    </style>
</head>
<body class="bg-light">
<div class="container">
    <div class="row">
        <div class="col">
            <a class="card" href="mynav/" target="_self">
                <div class="card-body">
                    <h5 class="card-title">导航</h5>
                    <i class="bi bi-card-heading"></i>
                    进入本地导航页面
                </div>
            </a>
        </div>
        <div class="col">
            <a class="card" href="mdict/" target="_self">
                <div class="card-body">
                    <h5 class="card-title">词典</h5>
                    <i class="bi bi-file-break"></i>
                    进入mdict词典查询页面
                </div>
            </a>
        </div>
        <div class="col">
            <a class="card" href="mdict/es/" target="_self">
                <div class="card-body">
                    <h5 class="card-title">全文搜索</h5>
                    <i class="bi bi-file-break-fill"></i>
                    <span class="themes-sub">对mdict进行全文搜索</span>
                </div>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a class="card" href="mdict/bujian/" target="_self">
                <div class="card-body">
                    <h5 class="card-title">部件检索</h5>
                    <i class="bi bi-columns-gap"></i>
                    <span class="themes-sub">打开部件检索页面</span>
                </div>
            </a>
        </div>
        <div class="col">
            <a class="card" href="mdict/wordcloud/" target="_self">
                <div class="card-body">
                    <h5 class="card-title">词云</h5>
                    <i class="bi bi-book"></i>
                    <span class="themes-sub">查询历史生成的词云</span>
                </div>
            </a>
        </div>
        <div class="col">
            <a class="card" href="/admin" target="_self">
                <div class="card-body">
                    <h5 class="card-title">管理</h5>
                    <i class="bi bi-wrench"></i>
                    <span class="themes-sub">打开admin管理页面</span>
                </div>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a class="card" href="mdict/shelf/" target="_self">
                <div class="card-body">
                    <h5 class="card-title">书架</h5>
                    <i class="bi bi-columns-gap"></i>
                    <span class="themes-sub">在书架中浏览词典</span>
                </div>
            </a>
        </div>
        <div class="col">
            <a class="card" href="mdict/shelf2/" target="_self">
                <div class="card-body">
                    <h5 class="card-title">书架2</h5>
                    <i class="bi bi-columns-gap"></i>
                    <span class="themes-sub">在书架中浏览词典</span>
                </div>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a class="card" href="mdict/grouping/" target="_self">
                <div class="card-body">
                    <h5 class="card-title">分组</h5>
                    <i class="bi bi-book"></i>
                    <span class="themes-sub">对词典进行分组</span>
                </div>
            </a>
        </div>
        <div class="col">
            <a class="card" href="mdict/doc/" target="_self">
                <div class="card-body">
                    <h5 class="card-title">文档</h5>
                    <i class="bi bi-book"></i>
                    <span class="themes-sub">打开文档页面</span>
                </div>
            </a>
        </div>
    </div>
</div>
<script>
    if ('serviceWorker' in navigator) {
      // register service worker
      navigator.serviceWorker.register("/sw.js");
    }
</script>
</body>
</html>