html,body,.container-fluid{
	padding:0px;
	margin:0px;
}

.col-lg-2,.col-lg-8,.row{
    padding-left:0px;
    padding-right:0px;
    margin-left:0px;
    margin-right:0px;
}

.navbar{
	margin:0px;
	padding:0px;
}

.menu-icon{
    max-width:36px;
    max-height:36px;
}

.menu-icon:hover{
    cursor:pointer;
}

#modal-container-config .menu-icon{
    margin-right: 5px;
    border-radius: 4px;
    box-shadow: 2px 4px 6px #000;
}



#mdict-query{
	margin:0px !important;

}

#sound-speaker img{
    width:16px;
    height:16px;
}

#sound-speaker img:hover{
    cursor:pointer;
}

#modal-container-config label{
    font-size:12px;
}

#dic-group-button{
	width:100%;
}

#next-page{
    white-space: nowrap;
}

#next-page:hover{
    color:orange;
    cursor:pointer;
}

.ui-autocomplete{
    max-width:60%;
    word-wrap:break-word;
}

.top-menu{
    margin-right:5px;
}

.top-menu img{
    width:28px;
    height:28px;
    margin:0px 5px 0px 5px;
}

#modal-container-history li{
    cursor:pointer;
}

iframe {
	overflow:hidden;
	border-style: none;
    margin: 0px;
	width: 1px;
	min-width: 100%;
}

img{
	max-width:100%;
}

#modal-container-mdict span{
	padding:0px 2px;
}

#modal-container-mdict .card-header a{
	word-break:break-all;
	/*使得词典列表中长标题能在任意位置换行*/
}

#card-container{
	margin-bottom:50px;
}

#display_list{
	padding:0;
	margin:0;
	list-style:none;
}

#dic-name{
	color:#CC9900;
}

#scroll_list li{
	border-left:1px solid #EEEEEE;
	border-right:1px solid #EEEEEE;
	border-bottom:1px solid #EEEEEE;
	color:brown;
}

#scroll_list li:hover{
	background-color:#EEEEEE;
}


#mdict-query:hover{
	cursor:pointer;
}

.alert{
	margin:0px;
	padding:0.5rem 1rem;

}

.mymdict_entry{
	width:100%;
	color:grown;
}

.card-body{
	padding:5px;
}

.olnum{
	margin:0px;
	margin-left:20px;
	padding:0px;
}

.olnone{
	margin:0px;
	padding:0px;
	list-style:none;
}

.mymdict_item{
	width:100%;
}

.card-body{margin:0px;padding:0px;}

.card-header{
	padding:5px;
}


.dic-icon{
	width:35px;
	height:35px;
	border-radius:3px;
	margin-left:2px;
	margin-right:2px;
}

.card-link:hover{
    cursor:pointer;
}

#mdict-query-clear:hover{
    cursor:pointer;
}

#search-history:hover{
    cursor:pointer;
}

.mdict-icon{font-size:22px;}

.item_content{background-color:#EEEEEE;}

.ui-selectmenu-menu{position:absolute;z-index:9999 !important;}

a{text-decoration:none !important;}


#bottom-button-group{margin:0;padding:0;position:fixed;bottom:10px;display:flex;justify-content:center;width:100%;pointer-events: none;}

#bottom-button-group li{list-style: none;margin-top:2px;margin-bottom:2px;pointer-events: auto;cursor:pointer;}

.float-a{float: left;width: 40px;height: 40px;background-color: #fff;box-shadow: 0 0 2px #bbb;position: relative;overflow: hidden;}
.float-a i{-webkit-transition:all 0.5s;display: block;font-size:22px;width:40px;height:40px;}
.float-a:hover i{margin-top: -40px;}
.float-a span{width: 40px;height: 40px;line-height: 18px;padding: 2px 0;background: #000;color: #fff;text-align: center;float: left;font-size:13px;}
