.dm-night{
    background:black !important;
    background-color:black !important;
    color:LightGrey !important;
}

.dm-night-img{
    -webkit-filter: brightness(0.6);
    filter: brightness(0.6);
}

.dm-night-img-background{
    background:LightGrey !important;
}

.dm-night-border{
    border:1px solid LightGrey !important;
}